.bg-blue {
    background-color: #1DB6F1;
}
#hero {
    padding-bottom: 20px;
    min-height: 100vh;
    background-image: url(../img/pagrindine.png);
    background-size: cover;
    background-position: center bottom;
    background-attachment: fixed;
}
    .hero-content {
        text-align: center;
    }
        .hero-content > .logo {
            margin-bottom: 40px;
            width: 36px;
        }
        .hero-content > h1 {
            font-size: 48px;
            line-height: 50px;
            text-transform: uppercase;
            margin-bottom: 20px;
        }
        .hero-content > p {
            line-height: 25px;
            font-size: 20px;
            color: #555;
            margin-bottom: 60px;
        }
        .hero-content > .clock {
            margin-bottom: 60px;
        }
        .hero-content > .forma {
            margin-bottom: 20px;
        }
#footer {
    padding-top: 20px;
}
